torch==1.13.1+cu117
torchvision==0.14.1+cu117
torchaudio==0.13.1
--extra-index-url https://download.pytorch.org/whl/cu117
torchtext==0.14.1
torchdata==0.5.1
flask
pillow
numpy<2
pandas
matplotlib
scikit-learn
spacy==3.5.1